{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /*.modal {
      z-index: 9999;
      overflow: scroll;
    }*/

    a {
        color: rgb(248, 247, 246);
    }

    a:hover {
        color: rgb(214, 141, 5);
    }

    tr:hover {
        background-color: #92929242;
        font-weight: bold;
    }

    /* width */
    /*::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Track */
    /*::-webkit-scrollbar-track {
      background: rgb(252, 236, 217);
  
    }
  
    /* Handle */
    /*::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    /*::-webkit-scrollbar-thumb:hover {
      background: #555;
    }*/

    /*#selected-area {
      font-size: 20px;
    }
  
  
  
    /* .......................................... search box1.............. */
    .select-box1 {
        position: relative;
    }

    .select-option1 {
        position: relative;
    }

    .select-option1 input {
        width: 100%;
        cursor: pointer;
        background-color: white;
        color: black;
        border-radius: 7px;
        padding: 10px 15px;
        border: 0 !important;
        outline: 0 !important;
    }

    .select-option1:after {
        content: "";
        border-top: 12px solid #000;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -8px;

    }

    .content1 {
        background-color: white;
        position: absolute;
        color: black;
        border-radius: 7px;
        margin-top: 15px;
        width: 100%;
        z-index: 999;
        padding: 20px;
        display: none;
    }

    .search1 input {
        width: 100%;
        font-size: 17px;
        padding: 15px;
        outline: 0;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
    }

    .options1 {
        margin-top: 10px;
        max-height: 150px;
        overflow-y: scroll;
        padding: 0;
    }

    /* .options1::-webkit-scrollbar{
        width: 5px;
       
      } */
    .options1 li {
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 1px solid gray;
    }

    .select-box1.active .content1 {
        display: block;
    }

    .select-box1.active .select-option1:after {
        transform: rotate(-180deg);
    }
</style>
{% endblock %}